.recipe-page {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.home-link {
    text-align: left;
    margin: 10px;
}

.recipe-page img {
    height: 500px;
    border-radius: 10px;
}

.overview {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.recipe-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 20px;
}

.instructions {
    list-style-type: decimal;
    max-width: 500px;
}

.instructions li {
    line-height: 40px;
    text-align: left;
}

@media (max-width: 800px) {
    .home-link {
        text-align: center;
    }

    .overview {
        flex-direction: column;
    }

    .recipe-details {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 600px) {
    .recipe-page img {
        height: 300px;
    }

    .instructions {
        margin: 0px 20px;
    }
}