.recipe-page {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.recipe-page img {
    height: 500px;
    border-radius: 10px;
}

.overview {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.recipe-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 20px;
}

.instructions {
    list-style-type: decimal;
    width: 500px;
}

.instructions li {
    line-height: 40px;
    text-align: left;
}

@media (max-width: 800px) {
    .overview {
        flex-direction: column;
    }

    .recipe-details {
        flex-direction: column;
        gap: 20px;
    }
}