.recipe-page {
    text-align: center;
}

.recipe-page img {
    height: 500px;
    border-radius: 10px;
}

.overview {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.recipe-details {
    display: flex;
    justify-content: center;
}

.instructions {
    list-style-type: decimal;
    justify-items: left;
}